import os

# --- Content settings ---

# Ce texte est placé au début de l'objet dans les emails, par exemple "[Rando Guadeloupe]".
ORGANISM_FOR_EMAIL_SUBJECT = ""


# --- Application settings ---

# L'adresse où écoute le frontend du portail de réservation, par exemple : 'www.png-resa.fr' ou 'localhost:5000'.
PUBLIC_SERVER_NAME =

# La liste des emails des administrateurs du portail, par exemple :
# ADMIN_EMAILS = ['admin@png-resa.fr', 'teddy@png-it.fr']
# Ces emails sont utilisés pour donner les permissions admin à l'authentification et pour recevoir les notifications
# d'annulation de réservations par les utilisateurs.
ADMIN_EMAILS =

# Le path sur le frontend pour générer le lien de confirmation de réservation qui est envoyé par email.
FRONTEND_CONFIRMED_PATHNAME = "/resaconfirm"

# Le path sur le frontend pour générer le lien vers le portail qui est ajouté dans les emails.
FRONTEND_PORTAL_PATHNAME = "/login"

# Le path sur le frontend pour générer le lien de connexion envoyé par email.
FRONTEND_LOGIN_PATHNAME = "/login/callback"


# --- Database settings ---

GEOTREK_DB_HOST = os.getenv("GEOTREK_DB_HOST", "127.0.0.1")
GEOTREK_DB_PORT = os.getenv("GEOTREK_DB_PORT", "5432")
GEOTREK_DB_USER = os.getenv("GEOTREK_DB_USER", "geotrek")
GEOTREK_DB_PASSWORD = os.getenv("GEOTREK_DB_PASSWORD", "geotrek")
GEOTREK_DB_NAME = os.getenv("GEOTREK_DB_NAME", "geotrekdb")
SQLALCHEMY_DATABASE_URI = f"postgresql://{GEOTREK_DB_USER}:{GEOTREK_DB_PASSWORD}@{GEOTREK_DB_HOST}:{GEOTREK_DB_PORT}/{GEOTREK_DB_NAME}"
SQLALCHEMY_TRACK_MODIFICATIONS = False


# --- Flask settings ---

# SECRET_KEY chiffre les cookies de session, il faut indiquer une chaîne de caractères aléatoires à garder hors
# du code source.
# Exemple pour générer une chaîne :
# $ python -c 'import secrets; print(secrets.token_hex())'
# > '192b9bdd22ab9ed4d12e236c78afcb9a393ec15f71bbf5dc987d54727823bcbf'
SECRET_KEY =

URL_APPLICATION = "http://localhost:5000"
PASS_METHOD = 'hash'
COOKIE_EXPIRATION = 43200
COOKIE_AUTORENEW = True
TRAP_ALL_EXCEPTIONS = False


# --- Flask Mail settings ---

# MAIL_DEFAULT_SENDER: default None, paramètre obligatoire même en mode dev/test.
MAIL_DEFAULT_SENDER =

# MAIL_SUPPRESS_SEND: default app.testing, paramètre utile pour le développement sans serveur SMTP.
#MAIL_SUPPRESS_SEND = True

# MAIL_SERVER: default ‘localhost’
# MAIL_PORT: default 25
# MAIL_USE_TLS: default False
# MAIL_USE_SSL: default False
# MAIL_DEBUG: default app.debug
# MAIL_USERNAME: default None
# MAIL_PASSWORD: default None
# MAIL_MAX_EMAILS: default None
# MAIL_ASCII_ATTACHMENTS: default False
