# --- Application settings ---

# The SERVER_NAME of the application, default None, for instance: 'www.png-resa.fr' or 'localhost:5000'.
SERVER_NAME =

# The path for the confirmed reservation page on the frontend, for instance: '/resa/confirmed'.
FRONTEND_CONFIRMED_PATHNAME =

# The path for the successfull login page on the frontend, for instance: '/resa/connected'.
FRONTEND_LOGIN_PATHNAME =

# A list of emails for admins, for instance: ['admin@png-resa.fr', 'teddy@png-it.fr']. This is used to give permissions,
# not to actually send emails.
ADMIN_EMAILS =


# --- Database settings ---

GEOTREK_DB_HOST = os.getenv("GEOTREK_DB_HOST", "127.0.0.1")
GEOTREK_DB_PORT = os.getenv("GEOTREK_DB_PORT", "5432")
GEOTREK_DB_USER = os.getenv("GEOTREK_DB_USER", "geotrek")
GEOTREK_DB_PASSWORD = os.getenv("GEOTREK_DB_PASSWORD", "geotrek")
GEOTREK_DB_NAME = os.getenv("GEOTREK_DB_NAME", "geotrekdb")
SQLALCHEMY_DATABASE_URI = f"postgresql://{GEOTREK_DB_USER}:{GEOTREK_DB_PASSWORD}@{GEOTREK_DB_HOST}:{GEOTREK_DB_PORT}/{GEOTREK_DB_NAME}"
SQLALCHEMY_TRACK_MODIFICATIONS = False


# --- Flask settings ---

URL_APPLICATION = "http://localhost:5000"
PASS_METHOD = 'hash'
COOKIE_EXPIRATION = 43200
COOKIE_AUTORENEW = True
TRAP_ALL_EXCEPTIONS = False
SECRET_KEY='the random string'


# --- Flask Mail settings ---

# MAIL_SERVER: default ‘localhost’
# MAIL_PORT: default 25
# MAIL_USE_TLS: default False
# MAIL_USE_SSL: default False
# MAIL_DEBUG: default app.debug
# MAIL_USERNAME: default None
# MAIL_PASSWORD: default None
# MAIL_DEFAULT_SENDER: default None
# MAIL_DEFAULT_SENDER: default None
# MAIL_MAX_EMAILS: default None
# MAIL_SUPPRESS_SEND: default app.testing
# MAIL_ASCII_ATTACHMENTS: default False
