// URL_APPLICATION: Url de l'application backend
// ID_APPLICATION: Id application requis pour l'authentification avec usershub
// URL_GTA: url de l'application geotrek admin
// DAY_BEFORE_RESA: nb de jours avant la date de debut de l'animation ou l'inscription est possible
// (si -1 aucune limitation de date)
// RESA_NB_DELTA: nb de participants surnuméraire accepté en plus du nb de participants
// spécifiés dans geotrek

const config = {
  URL_APPLICATION: 'URL_BACKEND',
  ID_APPLICATION: 'ID_APP',
  URL_GTA: 'URL_GEOTREK_ADMIN'
  DAY_BEFORE_RESA: 15,
  RESA_NB_DELTA: 3
};

export { config };
