
# Informations pratiques


Indiquer ici des informations utiles aux personnes réalisant la gestion réservations

Par exemple :
 * Notes internes
 * Contact des personnes ressources
 * Tutoriels
 * ...