<h1>Votre demande de réservation est en liste d'attente</h1>

<p>Votre demande de réservation de {{ nb_places }} places pour l'événement {{ event }} a été placée sur la liste
    d'attente. En cas de désistements nous vous contacterons au numéro de téléphone que vous nous avez indiqué lors de la
    réservation.</p>

<!-- info de l'événement -->

<p>Vous pouvez à tout moment consulter la liste de vos réservations sur : {visite_link + email}. Si vous ne souhaitez
    plus assister à l'événement merci d'annuler votre réservation pour que d'autres puissent en profiter.</p>
