<h1>Veuillez confirmer votre demande de réservation</h1>

<p>Vous avez fait une demande de réservation pour l'événement {{ event }}. Veuillez cliquer sur le lien ci-dessous pour confirmer votre demande :</p>

{{ confirmation_link }}

<p>Vous pourrez à tout moment consulter la liste de vos réservations sur : {visite_link + email}.</p>

<footer>Si vous n'avez pas fait de demande de réservation sur le site web du Parc National de Guadeloupe, vous n'avez rien à faire. La demande ne vaut que pour une période de temps limitée.</footer>
