@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 2px;
  --primary-color: var(--blue-500);
  --primary-color-darker: var(--blue-800);
  --primary-color-lighter: var(--blue-100);
}

body {
  font-family: var(--font-family);
} 

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.p-inputtext {
  border-radius: var(--border-radius);
}

.p-button.p-button-text {
  color: var(--primary-color);
}
.p-button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.p-button:enabled:hover {
  background: var(--primary-color-darker);
  border-color: var(--primary-color-darker);
}
.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary-color), 0 1px 2px 0 black
}
.p-button.p-button-text:enabled:hover {
  background: var(--primary-color-lighter);
  color: var(--primary-color);
}
 